* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'New Amsterdam', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #ececec;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #5e91b09a;
    width: 100px;
    height: 160px;
    margin: 10px;
}

p {
    font-size: 30px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}